.city-container {
  height: 50px; /* Установите фиксированную высоту по вашему усмотрению */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.city-list {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.selected-city {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 10px;
}
.selected-city-value {
  color: red;
}
